{%extends "baseadmin.html"%}

{%block body%}
  
  {%if users%}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nama</th>
            <th>Email</th>
            <th>Aksi</th>
            <th>Tgl</th>
          </tr>
        </thead>
        <tbody>
          {%for user in users%}
            <tr>
              <td>{{user.id}}</td>
              <td>{{user.nama}}</td>
              <td>{{user.email}}</td>
              {%if user.is_confirmed() == True%}
                <td>Confirmed</td>
              {%else%}
              <td>
                  <form method="post" action="/confirm/{{user.id}}" >
                    <input class="btn btn-outline-success btn-sm" type="submit" value="confirm">
                  </form>
                </td>
              {%endif%}
              <td>{{user.registered_date}}</td>
          </tr>
            {%endfor%}
        </tbody>
      </table>
    </div>

    {%elif confirmed_users%}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nama</th>
            <th>Email</th>
            <th>Aksi</th>
            <th>Tgl</th>
          </tr>
        </thead>
        <tbody>
          {%for user in confirmed_users%}
            
            {%if user.role == "user"%}
            <tr>
              <td>{{user.id}}</td>
              <td>{{user.nama}}</td>
              <td>{{user.email}}</td>
              <td>
              
                  <form method="post" action="/undoconfirm/{{user.id}}" >
                    <input class="btn btn-outline-danger btn-sm" type="submit" value="batal">
                  </form>
                
              </td>
              <td>{{user.registered_date}}</td>
            </tr>
            {%endif%}
          {%endfor%}
        </tbody>
      </table>


    {%elif pendaftar or peserta%}

    <div class="container">
        <hr class="my-3">
        <div class="card card-outline-secondary">
        
            <div class="card-body">
              
              <h5 class="card-title">Jumlah Pendaftar</h5>
              
              <div class="alert alert-success" role="alert">
                <h3 class="card-text">{{pendaftar}} orang</p>
              </div>
            <a href="/manageuser" class="btn btn-primary">Lihat</a>
            </div>
        </div>

        <hr class="my-3">

        <div class="card card-outline-secondary">
        
            <div class="card-body">
              
              <h5 class="card-title">Jumlah Peserta</h5>
              
              <div class="alert alert-success" role="alert">
                <h3 class="card-text">{{peserta}} orang</p>
              </div>
            <a href="/confirmed" class="btn btn-primary">Lihat</a>
            </div>
        </div>
      </div>


 
    {%endif%}


{%endblock%}