{%extends "base.html"%}

{%block body%}

<div class="container">
		{%if current_user.confirmed%}
			<span class="anchor" id="formUserEdit"></span>
            <hr class="my-3">
			<div class="card mb-1">
  			<div class="card-header">
    			Informasi Peserta
  			</div>
		  	<div class="card-body">
		    	<h5 class="card-title">PRF Token</h5>
		    	<p class="card-text">{{current_user.token}}</p>
		    	<div class="alert alert-success" role="alert">
  					<p class="card-text">Akun kamu sudah dikonfirmasi oleh panitia.</p>
				</div>
		  		</div>
			</div>
			<br>

			<div class="card">
  			<div class="card-header">
    			Informasi Lomba
  			</div>
		  	<div class="card-body">
		    	<h5 class="card-title">Waktu Lomba</h5>
		    	<p class="card-text">4 hari 8 jam 9 menit 20 detik</p>
		    	<a href="/lomba" class="btn btn-primary">Mulai Lomba</a>
		  		</div>
			</div>
			<br>

			{%for item in pengumuman%}
				<div class="card">
  				<div class="card-header">
    			{{item.kategori}}
  				</div>
		  		<div class="card-body">
		    	<h5 class="card-title">{{item.judul}}</h5>
		    	<p class="card-text">{{item.konten}}</p>
		  		</div>
				</div>
				<br>

			{%endfor%}
		{%else%}
			<span class="anchor" id="formUserEdit"></span>
                    <hr class="my-3">
			<div class="card">
	  			<div class="card-header">
	    			Informasi Pendaftar
	  			</div>

			  	<div class="card-body">
			    	<h5 class="card-title">Akun</h5>
			    	<div class="alert alert-danger" role="alert">
						<p>Hi, {{current_user.nama}}!</p>
						<p>Akun kamu belum dikonfirmasi oleh panitia :(</p>
						<p>Mohon lakukan pembayaran secepatnya.</p>
						<p>Untuk informasi lebih lanjut, lihat laman <a href="/kontak">kontak</a></p>
						<p>Atau lihat petunjuk <a href="/pendaftaran">pendaftaran</a></p>
					</div>
			  	</div>
			</div>
		{%endif%}

</div>

{%endblock%}