<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
  </head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      {%if current_user.is_authenticated == False%}

      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Tentang</a>
      </li>

      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <a href="/login" class="btn btn-outline-success my-2 my-sm-0">Login</a>
    </form>

      {%else%}

      
      <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout">Sign out</a>
        </li>
      </ul>

      {%endif%}
      
  </div>
</nav>

{%block body%}

{%endblock%}
 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="/static/js/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    
    <footer class="page-footer text-center font-small">

    <!--Copyright-->
    <div class="footer-copyright py-3">
      Pekan Raya Fisika Universitas Riau 2018 © 2018
    </div>
    <!--/.Copyright-->

  </footer>
</body>

</html>
