{%extends "baseadmin.html"%}

{%block body%}

			<div class="container">
				<span class="anchor" id="formUserEdit"></span>
            <hr class="my-3">
			<div class="card mb-1">
  			<div class="card-header">
    			Download Data Peserta
  			</div>
		  	<div class="card-body">
		    	<form action="/download/peserta" method="get">
		    		<input type="submit" name="" value="Download" class="btn btn-primary">
		    	</form>	
		  	</div>
			</div>
			<br>

			<div class="card">
  			<div class="card-header">
    			Download Data Pendaftar
  			</div>
		  	<div class="card-body">
		    	<form action="/download/pendaftar" method="get">
		    		<input type="submit" name="" value="Download" class="btn btn-primary">
		    	</form>	
		  	</div>
			</div>
			<br>
			</div>

{%endblock%}