{%extends "base.html"%}

{%block body%}
	  <main>
    <div class="container">

      <!--Section: Main info-->
      <section class="mt-5">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-lg-12">

          	<div class="text-center">
          		<img src="/static/img/logo.jpg" height="140px" width="140px" class="img-fluid" alt="PRF Logo">
          	</div>

          	<h2 class="h2 text-center font-weight-bold">Pekan Raya Fisika Universitas Riau 2018</h2>
          	 <hr class="my-5">
          	<h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla semper ex ut ultricies mattis. Integer eu urna ac tellus eleifend commodo eu ut lectus. Praesent eleifend ex id magna consequat, a venenatis eros facilisis. Sed eleifend condimentum tellus, eget lacinia neque commodo eget. Pellentesque hendrerit scelerisque enim et posuere. Etiam vitae eros arcu. Fusce non euismod lacus. In at vehicula ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat diam arcu. Nunc non vehicula libero. Quisque lacus tortor, placerat eget justo at, rhoncus feugiat ipsum. Pellentesque sit amet porttitor tortor. Nullam congue rutrum cursus. Suspendisse tincidunt erat lorem, eget ultricies justo congue vitae.</h6>

          	<br>
          	<br>
          	
          	<div class="form-row text-center">


    			<div class="col-12">
        			<a href="/register" class="btn btn-outline-primary btn-lg">Daftar Sekarang!</a>
    			</div>
 			</div>
          	
          </div>
       


      </section>
      <!--Section: Main info-->

      <hr class="my-5">

      <!--Section: Main features & Quick Start-->
      <section class="bg-prim">

        <h3 class="h3 text-center mb-5">Kategori Olimpiade</h3>

        <!--Grid row-->
        <div class="row">

              <div class="col-12">
                <h3 class="text-center">SMA Astronomi</h3>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla semper ex ut ultricies mattis.</p>
              </div>

            <!--/First row-->

            <div class="col-12">
                <h3 class="text-center">SMA Astronomi</h3>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla semper ex ut ultricies mattis.</p>
              </div>
            <!--/Second row-->

           <div class="col-12">
                <h3 class="text-center">SMA Astronomi</h3>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla semper ex ut ultricies mattis.</p>
              </div>

           <div class="col-12">
                <h3 class="text-center">SMA Astronomi</h3>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla semper ex ut ultricies mattis.</p>
              </div>

          </div>
          <!--/Grid column-->

     
          <!--/Grid column-->

        </div>
        <!--/Grid row-->

      </section>
      <!--Section: Main features & Quick Start-->

      <hr class="my-5">

      <!--Section: More-->
      <section>

        <h2 class="my-5 h3 text-center">Didukung Oleh:</h2>

        <!--First row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-firefox fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2 pl-3">
                <h5 class="text-center feature-title font-bold mb-1">Universitas Riau</h5>
                <img src="/static/img/logo-unri.png" alt="..." class="img-thumbnail">
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-level-up fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="text-center font-bold mb-1">FMIPA Universitas Riau</h5>
                <img src="/static/img/logo-unri.png" alt="..." class="img-thumbnail">
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-comments-o fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
               <h5 class="text-center font-bold mb-1">Lorem ipsum dolor</h5>
               <img src="..." alt="..." class="img-thumbnail">
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-code fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="text-center font-bold mb-1">Lorem ipsum dolor</h5>
               <img src="..." alt="..." class="img-thumbnail">
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

        </div>
        <!--/First row-->

        <!--Second row-->
        <div class="row features-small mt-4 wow fadeIn">

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-cubes fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Lorem ipsum dolor sit amet</h5>
                <p class="grey-text mt-2">Lorem ipsum dolor sit amet</p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-question fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Lorem ipsum dolor sit amet</h5>
                <p class="grey-text mt-2">Lorem ipsum dolor sit amet
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-th fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Lorem ipsum dolor sit amet</h5>
                <p class="grey-text mt-2">Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-file-code-o fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">SASS files</h5>
                <p class="grey-text mt-2">Arranged and well documented .scss files can't wait until you compile them.</p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

        </div>
        <!--/Second row-->

      </section>
      <!--Section: More-->

    </div>
  </main>
  <!--Main layout-->
</body>

</html>
{%endblock%}