{%extends "base.html"%}

{%block body%}

        <div class="col-md-8 offset-md-2">
                    <span class="anchor" id="formUserEdit"></span>
                    <hr class="my-3">

                    <!-- form user info -->
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">Tambah Soal</h3>
                        </div>
                        <div class="card-body">
                    <form class="form" role="form" autocomplete="off" id="loginForm" novalidate="" method="POST" action="/tambahsoal">

                    <div class="form-group">
                        <label  for="kategori">Kategori Lomba</label>
                            <select class="form-control" size="0" name="kategori" required="true">
                                <option value="SMA-Astronomi">SMA-Astronomi</option>
                                <option value="SMA-Kebumian">SMA-Kebumian</option>
                                <option value="SMA-Mekanika">SMA-Mekanika</option>
                                <option value="SMP-IPA">SMP-IPA</option>
                            </select>
                    </div>

                    <div class="form-group">
                        <label for="uname1">Teks Soal</label>
                         <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="teks_soal"></textarea>
                    </div>
                     
                     <div class="form-group">
                        <label  for="kategori">Pilihan Benar</label>
                            <select class="form-control" size="0" name="pilihan_benar" required="true">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                            </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlFile1">Pilih Gambar</label>
                        <input type="file" class="form-control-file" name="file">
                    </div>

                    <div class="form-group">
                        <label>Pilihan A</label>
                        <input type="text" class="form-control" required="true"  name="pilihan_a">
                    </div>

                     <div class="form-group">
                        <label>Pilihan B</label>
                        <input type="text" class="form-control" required="true"  name="pilihan_b">
                    </div>

                     <div class="form-group">
                        <label>Pilihan C</label>
                        <input type="text" class="form-control" required="true"  name="pilihan_c">
                    </div>

                     <div class="form-group">
                        <label>Pilihan D</label>
                        <input type="text" class="form-control" required="true"  name="pilihan_d">
                    </div>

                     <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Submit</button>


                </form>
            </div>
        </div>
{%endblock%}